/**
 * Created by IlarionTokarskyi on 10/25/2019.
 */

.THIS {
    background-color: #195594;
    color: aliceblue;
}

.THIS.standart-size {
    height: auto;
    min-height: 100px;
    width: 180px;
}